<%<Hi:Common_Header runat="server"  />%>
<div class="main" id="main1">
    <div class="nav_info">
        &nbsp;<%<Hi:Common_Location runat="server" />%></div>
    <div class="category">
        <div class="category_l">
            <div class="category_list">
                <%<Hi:Common_ProductCategoryList TemplateFile="/ascx/tags/Skin-Common_ProductCategoryList.ascx"  runat="server" />%>
            </div>
            <div class="category_browse">
                <h2>
                    浏览过的商品</h2>
                <ul>
                    <%<Hi:Common_GoodsList_Browsed MaxNum="4"  runat="server" />%>
                </ul>
            </div>
            <Hi:Common_SubjectProduct_Top runat="server" maxnum="6" imagenum="6" isshowprice="true"
                isshowsalecounts="true" />
            <div class="cate_ad">
                <Hi:Common_CustomAd runat="server" adid="14" />
                <Hi:Common_CustomAd runat="server" adid="15" />
                <Hi:Common_CustomAd runat="server" adid="16" />
            </div>
        </div>
        <div class="category_r">
            <div class="sub_property">
                <h2>
                    按品牌选择</h2>
                <Hi:Common_SubjectBrand runat="server" commentid="19" />
            </div>
            <p class="sub_shrink" id="sp_showbrand">
                <span>展开搜索</span></p>
            <script language="javascript">
                $(function () {
                    if ($(".sub_property li").size() <= 21) {
                        $("#sp_showbrand").hide();
                    } else {
                        $(".sub_property li:gt(20)").hide();
                    }

                    $("#sp_showbrand").toggle(function () {
                        $(".sub_property li:gt(20)").show();
                        $(this).find("span").text('收缩');
                    }, function () {
                        $(".sub_property li:gt(20)").hide();
                        $(this).find("span").text('展开搜索');
                    });
                });
            </script>
            <form runat="server">
                <div class="category_search">
                    <%<Hi:Common_CutDownSearch runat="server" />%>
                    <div class="category_sequence">
                        <ul>
                            <li class="c_sel"><span>
                                <%<Hi:Common_Search_SortPrice ID="Common_Search_SortPrice1" DefaultImageUrl="/images/fixed/SortByPriceUpStop.gif" AscImageUrl="/images/fixed/SortByPriceUp.gif" DescImageUrl="/images/fixed/SortByPriceDown.gif" runat="server"  Alt="按价格排序" />%></span></li>
                            <li><span>
                                <%<Hi:Common_Search_SortSaleCounts ID="Common_Search_SortSaleCounts1" DefaultImageUrl="/images/fixed/xiao1.gif" AscImageUrl="/images/fixed/xiao2.gif" DescImageUrl="/images/fixed/xiao3.gif" runat="server" Alt="按销量排序"  />%></span></li>
                            <li><span>
                                <%<Hi:Common_Search_SortPopularity ID="Common_Search_SortPopularity1" DefaultImageUrl="/images/fixed/ren1.gif" AscImageUrl="/images/fixed/ren2.gif" DescImageUrl="/images/fixed/ren3.gif" runat="server" Alt="按人气排序"  />%></span></li>
                            <li><span>
                                <%<Hi:Common_Search_SortTime ID="Common_Search_SortTime1" DefaultImageUrl="/images/fixed/SortByTimeUpStop.gif" AscImageUrl="/images/fixed/SortByTimeUp.gif" DescImageUrl="/images/fixed/SortByTimeDown.gif" runat="server" Alt="按时间排序"  />%></span></li>
                        </ul>
                        <p>
                            <%<asp:Literal ID="litBrandProductResult" runat="server"  />%></p>
                    </div>
                </div>
            </form>
            <div class="category_pro_list">
                <ul>
                    <%<Hi:ThemedTemplatedRepeater ID="rptProduct" runat="server" TemplateFile="/ascx/Tags/Common_GoodsList/Skin-Common_GoodsList_Brand.ascx" />%>
                </ul>
            </div>
            <script>
                $(function () {
                    $(".category_pro_list li").hover(function () {
                        if ($(".category_pro_list").index(this) != 0) {
                            $(".category_pro_list li:first").removeClass("listhover");
                        }
                        $(this).addClass("listhover");
                    }, function () {
                        $(this).removeClass("listhover");
                    });
                    $(".category_pro_list li:first").addClass("listhover");
                });
            </script>
            <div class="page">
                <%<UI:Pager runat="server" ShowTotalPages="true" ID="pager" DefaultPageSize="21" />%>
            </div>
        </div>
    </div>
</div>
<%<Hi:Common_Footer runat="server"   />%>
