<%<Hi:Common_Header runat="server"  />%>

<div class="main">
 
    <%<Hi:SmallStatusMessage id="Status" runat="server" Visible="False" />%>
<div class="core_cartform core_form2">
<div class="core_biaoji"><img src="/images/common/order_pay_07.jpg" /></div>
<div class="core_blank16"></div>
<div class="core_blank16"></div>
<div class="core_orderpay">
<h2>支付成功</h2>
<div  class="core_orderpay_c">
请您记好您的订单编号。<br />
<span  class="color_A30"><b><%<asp:Literal ID="litMessage" runat="server"></asp:Literal>%></b></span><br />
</div>
<div class="core_blank16"></div>

<div class="core_blank16"></div>
</div>



</div>
</div>

<%<Hi:Common_Footer runat="server"   />%>


