
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%<Hi:HeadContainer ID="HeadContainer1" runat="server" />%>
<%<Hi:PageTitle runat="server" />%>
<%<Hi:MetaTags runat="server" />%>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<link href="/style/style.css" rel="stylesheet" type="text/css" />
<link href="/style/menu.css" rel="stylesheet" type="text/css" />

     <%<Hi:Common_DesignScriptCss runat="server" />%>
   <style>
   .cssEdit{margin:0px auto;width:975px;height:90px;}
   </style>
      <script>
          $.ajaxSetup({
              cache: false
          });
   </script>
</head>
<body>
<form runat="server">

<div class="tool_inner">
    <div class="tool_innercon">
      <%<asp:Literal id="litaccount" runat="server"/>%><%<asp:Literal id="litDefault" runat="server" /> %><%<asp:Literal id="litview" runat="server" /> %>
    </div>
</div>

<%<asp:Literal id="litPageName" runat="server"/>%>

      <div id="header" rel="desig"></div>
      <div class="main">
        <div id="main_p1" class="main_p1" rel="desig"></div>
        <div class="main_p2">
            <div class="main_p2_l" id="main_p2_l" rel="desig"></div>
            <div class="main_p2_r" id="main_p2_r" rel="desig"></div>
        </div>
         <div id="templetecontent" rel="desig"></div>
      </div>

      <div id="footer" rel="desig" class="footer"></div>

 <%<asp:Literal id="litTempete" runat="server"/>%>         
</form>
</body>
</html>
