<%<Hi:Common_Header runat="server"  />%>

<div class="main">
<div class="tqj"></div>
<div class="container articleshelp">
  <div class="cssleft">
  <h6><img src="/images/process/bzzx.gif" width="182" height="45" /></h6>
  <div class="csslist2">
 <%<Hi:Common_HelpCategory runat="server" TemplateFile="/ascx/tags/Common_Comment/Skin-Common_HelpCategory.ascx"  />%>
  </div>
  </div>
  <div class="cssright">
      <div class="cssright_h1"><a href="url:home">首页</a> > 帮助详细 </div>
    <div class="cssborder">
      <h2 class="cssright_h2"><%<asp:Literal ID="litHelpTitle" runat="server" />%></h2>
      <div class="art_add_date">发布日期<%<Hi:FormatedTimeLabel ID="litHelpAddedDate" runat="server" />%> <strong class="spanB" style="cursor:pointer;" onclick="window.close();">【关闭】 </strong></div>
      <div style="display:none;">摘要：<span class="cRed"><%<asp:Literal ID="litHelpDescription" runat="server"  />%></span></div>
      <div class="art_add_c"><%<asp:Literal ID="litHelpContent" runat="server"  />%></div>
    </div>
    <div class="csspage_content">	  	<b><%<asp:Label ID="lblFront" runat="server" Text="上一篇帮助："></asp:Label>%><a target="_self" runat="server" id="front" ><%<asp:Label ID="lblFrontTitle" runat="server" ></asp:Label>%></a></b>
        <div><%<asp:Label ID="lblNext" runat="server" Text="下一篇帮助："></asp:Label>%><a target="_self" runat="server" id="next" ><%<asp:Label ID="lblNextTitle" runat="server" ></asp:Label>%> </a></div></div>
  </div>
</div>
</div>

<%<Hi:Common_Footer runat="server"   />%>

