<configuration>
 <!-- <system.web>
    <authorization>
      <allow roles="Registered Users" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="LoginForm.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
</configuration>