<?xml version="1.0" encoding="utf-8"?>
<Menu>

    <Module Title="店铺管理" Link="store/mysitecontent.aspx" Image="/Shopadmin/images/8.gif">

        <Item Title="基本设置" Link="store/mysitecontent.aspx">
            <PageLink  Title="基本设置" Link="store/mysitecontent.aspx"/>
        </Item>
        <Item Title="分销站点配置" Link="store/managemythemes.aspx">
            <PageLink Title="设置页头菜单" Link="store/setmyheadermenu.aspx"/>
            <PageLink  Title="域名管理" Link="store/siteurldetails.aspx"/>
            <PageLink Title="可视化编辑" Link="store/editemythems.aspx"/>
            <PageLink  Title="模板管理" Link="store/managemythemes.aspx"/>
            <PageLink  Title="编辑页头菜单" Link="store/editmyheadermenu.aspx"/>
            <PageLink  Title="添加页头菜单" Link="store/addmyheadermenu.aspx"/>
        </Item>
        <Item Title="页面设置" Link="store/myfriendlylinks.aspx">
            <PageLink  Title="投票调查" Link="store/myvotes.aspx"/>
            <PageLink  Title="投票调查" Link="store/addmyvote.aspx"/>
            <PageLink  Title="投票调查" Link="store/editmyvote.aspx"/>
            <PageLink  Title="友情链接" Link="store/myfriendlylinks.aspx"/>
            <PageLink  Title="友情链接" Link="store/addmyfriendlylink.aspx"/>
            <PageLink  Title="友情链接" Link="store/editmyfriendlylink.aspx"/>
            <PageLink  Title="热门关键字" Link="store/managemyhotkeywords.aspx"/>
        </Item>

        <Item Title="店铺公告" Link="comment/myaffichelist.aspx">
            <PageLink  Title="添加公告" Link="comment/addmyaffiche.aspx"/>
            <PageLink  Title="公告管理" Link="comment/myaffichelist.aspx"/>
            <PageLink  Title="公告管理" Link="comment/editmyaffiche.aspx"/>
        </Item>
        <Item Title="帮助中心" Link="comment/myhelplist.aspx">
            <PageLink  Title="帮助分类" Link="comment/myhelpcategories.aspx"/>
            <PageLink  Title="帮助分类" Link="comment/addmyhelpcategory.aspx"/>
            <PageLink  Title="帮助分类" Link="comment/editmyhelpcategory.aspx"/>
            <PageLink  Title="添加帮助" Link="comment/addmyhelp.aspx"/>
            <PageLink  Title="帮助管理" Link="comment/myhelplist.aspx"/>
            <PageLink  Title="帮助管理" Link="comment/editmyhelp.aspx"/>
        </Item>
        <Item Title="文章管理" Link="comment/myarticlelist.aspx">
            <PageLink  Title="文章分类" Link="comment/myarticlecategories.aspx"/>
            <PageLink  Title="文章分类" Link="comment/addmyarticlecategory.aspx"/>
            <PageLink  Title="文章分类" Link="comment/editmyarticlecategory.aspx"/>
            <PageLink  Title="添加文章" Link="comment/addmyarticle.aspx"/>
            <PageLink  Title="文章管理" Link="comment/myarticlelist.aspx"/>
            <PageLink  Title="文章管理" Link="comment/editmyarticle.aspx"/>
        </Item>

        <Item Title="邮件短信模板" Link="tools/mysendmessagetemplets.aspx">
            <PageLink Title="邮件设置" Link="tools/myemailsettings.aspx"/>
            <PageLink Title="手机短信设置" Link="tools/mysmssettings.aspx" />
            <PageLink Title="邮件短信模板" Link="tools/mysendmessagetemplets.aspx"/>
            <PageLink Title="编辑邮件模板" Link="tools/editmyemailtemplet.aspx" />
            <PageLink Title="编辑站内信模板" Link="tools/editmyinnermessagetemplet.aspx" />
            <PageLink Title="编辑手机短信模板" Link="tools/editmycellphonemessagetemplet.aspx" />
        </Item>


        <Item Title="站内信" Link="comment/myreceivedmessagestoadmin.aspx">
            <PageLink Title="站内信" Link="comment/mysendedmessagestoadmin.aspx"/>
            <PageLink Title="站内信" Link="comment/sendmymessagetoadmin.aspx" />
            <PageLink Title="站内信" Link="comment/myreceivedmessagestoadmin.aspx" />
            <PageLink Title="站内信" Link="comment/replaymyreceivedmessagetoadmin.aspx" />

        </Item>


        <Item Title="一淘设置" Link="tools/etaoset.aspx">
            <PageLink Title="一淘设置" Link="tools/etaoset.aspx"/>
        </Item>
    </Module>

    <Module Title="我的帐户" Link="store/distributorprofile.aspx" Image="/Shopadmin/images/9.gif">

        <Item Title="个人资料" Link="store/distributorprofile.aspx">
            <PageLink  Title="个人资料" Link="store/distributorprofile.aspx"/>
            <PageLink  Title="登录密码" Link="store/editloginpassword.aspx"/>
            <PageLink  Title="交易密码" Link="store/edittradepassword.aspx"/>
            <PageLink  Title="密码保护" Link="store/editpasswordprotection.aspx"/>
        </Item>
        <Item  Title="预付款充值" Link="store/recharge.aspx">
            <PageLink  Title="预付款充值" Link="store/recharge.aspx"/>
            <PageLink  Title="预付款充值" Link="store/rechargeconfirm.aspx"/>
        </Item>
        <Item  Title="申请提现" Link="store/balancedraw.aspx">
            <PageLink  Title="申请提现" Link="store/balancedraw.aspx"/>
            <PageLink  Title="申请提现" Link="store/confirmbalancedrawrequest.aspx"/>
            <PageLink  Title="申请提现" Link="store/drawrequestpromption.aspx"/>
        </Item>
        <Item Title="账户概要" Link="store/myaccountsummary.aspx">
            <PageLink  Title="账户概要" Link="store/myaccountsummary.aspx"/>
        </Item>
        <Item  Title="账户明细" Link="store/mybalancedetails.aspx">
            <PageLink  Title="账户明细" Link="store/mybalancedetails.aspx"/>
        </Item>
    </Module>

    <Module Title="采购单" Link="purchaseOrder/managemypurchaseorder.aspx" Image="/Shopadmin/images/z03.gif">

        <Item Title="我提交的采购单" Link="purchaseorder/managemymanualpurchaseorder.aspx">
            <PageLink Title="采购单管理" Link="purchaseorder/managemymanualpurchaseorder.aspx"/>            
            <PageLink  Title="采购单付款" Link="purchaseorder/pay.aspx"/>
            <PageLink  Title="发货" Link="purchaseorder/sendmygoods.aspx"/>
            <PageLink  Title="采购单礼品" Link="purchaseorder/purchaseordergifts.aspx"/>
            <PageLink  Title="采购单详情" Link="purchaseorder/manualpurchaseorderdetails.aspx"/>
            <PageLink  Title="修改采购单" Link="purchaseorder/changepurchaseorderitems.aspx"/>
        </Item>
        <Item Title="生成的采购单" Link="purchaseorder/managemypurchaseorder.aspx">
            <PageLink Title="采购单管理" Link="purchaseorder/managemypurchaseorder.aspx"/>
            <PageLink  Title="等待付款采购单" Link="purchaseorder/unpaymentpurchaseorderdetails.aspx"/>
            <PageLink  Title="等待发货采购单" Link="purchaseorder/unshippingpurchaseorderdetails.aspx"/>
            <PageLink  Title="等待退款采购单" Link="purchaseorder/unrefundpurchaseorderdetails.aspx"/>
            <PageLink  Title="等待退货采购单" Link="purchaseorder/unreturnpurchaseorderdetails.aspx"/>
            <PageLink  Title="已发货采购单" Link="purchaseorder/deliveredpurchaseorderdetails.aspx"/>
            <PageLink  Title="已完成采购单" Link="purchaseorder/finishedpurchaseorderdetails.aspx"/>
            <PageLink  Title="已关闭采购单" Link="purchaseorder/closedpurchaseorderdetails.aspx"/>
            <PageLink  Title="已退款采购单" Link="purchaseorder/refundedpurchaseorderdetails.aspx"/>
            <PageLink  Title="已退货采购单" Link="purchaseorder/returnedpurchaseorderdetails.aspx"/>
            <PageLink  Title="采购单付款" Link="purchaseorder/pay.aspx"/>
            <PageLink  Title="采购单批量付款" Link="purchaseorder/batchpay.aspx"/>
            <PageLink  Title="发货" Link="purchaseorder/sendmygoods.aspx"/>
            <PageLink  Title="采购单礼品" Link="purchaseorder/purchaseordergifts.aspx"/>
            <PageLink  Title="退款详情" Link="purchaseorder/refundpurchasedetails.aspx"/>
            <PageLink  Title="采购单详情" Link="purchaseorder/mypurchaseorderdetails.aspx"/>
            <PageLink  Title="采购单付款" Link="purchaseorder/choosepayment.aspx"/>
          <PageLink  Title="采购单批量付款" Link="purchaseorder/batchpay.aspx"/>
        </Item>

        <Item Title="提交采购单" Link="purchaseorder/purchaseproduct.aspx">
            <PageLink Title="提交采购单" Link="purchaseorder/purchaseproduct.aspx"/>
            <PageLink Title="提交采购单" Link="purchaseorder/selectedpurchaseproducts.aspx"/>
            <PageLink Title="提交采购单" Link="purchaseorder/submitpurchaseorder.aspx"/>
        </Item>
        <Item Title="设置发货信息" Link="sales/setmyshipper.aspx">
            <PageLink  Title="发货信息" Link="sales/setmyshipper.aspx"/>
        </Item>
    </Module>

    <Module Title="商品管理" Link="product/authorizeproducts.aspx" Image="/Shopadmin/images/2.gif">

        <Item Title="商品分类" Link="product/managemycategories.aspx">
            <PageLink  Title="商品分类" Link="product/managecategories.aspx"/>
            <PageLink  Title="添加商品分类" Link="product/addmycategory.aspx"/>
            <PageLink  Title="商品分类" Link="product/editmycategory.aspx"/>
            <PageLink  Title="转移商品" Link="product/displacemycategory.aspx"/>
            <PageLink  Title="转移商品" Link="product/myproducts.aspx"/>
            <PageLink  Title="分类模板设置" Link="product/setmycategorytemplate.aspx"/>
        </Item>
        <Item Title="授权产品目录" Link="product/authorizeproducts.aspx">
            <PageLink  Title="授权产品管理" Link="product/authorizeproducts.aspx"/>
        </Item>
        <Item Title="我的分销商品" Link="product/myproductonsales.aspx">
            <PageLink Title="出售中的商品" Link="product/myproductonsales.aspx" />
            <PageLink Title="编辑商品" Link="product/editmyproduct.aspx" />
            <PageLink Title="选择商品分类" Link="product/selectmycategory.aspx" />
            <PageLink Title="调整前台显示的销售数量" Link="product/editmysalecounts.aspx"/>
            <PageLink Title="批量修改下属会员价" Link="product/editmymemberprices.aspx"/>
            <PageLink Title="相关商品" Link="product/editmyreleteproducts.aspx"/>

        </Item>
        <Item Title="商品扩展分类" Link="product/myproductunclassified.aspx">
            <PageLink Title="未分类商品" Link="product/myproductunclassified.aspx"/>
        </Item>
        <Item Title="导出商品数据包" Link="product/exporttotb.aspx">
            <PageLink Title="制作TB数据包" Link="product/exporttotb.aspx"/>
            <PageLink Title="制作PP数据包" Link="product/exporttopp.aspx"/>
        </Item>
    </Module>

    <Module Title="客户管理" Link="Underling/manageunderlings.aspx" Image="/Shopadmin/images/3.gif">
        <Item Title="信任登录" Link="underling/openidservices.aspx">
            <PageLink Title="信任登录" Link="underling/openidservices.aspx"/>

        </Item>

        <Item Title="会员等级" Link="underling/underlinggrades.aspx">
            <PageLink Title="会员等级管理" Link="underling/underlinggrades.aspx"/>
            <PageLink Title="会员等级管理" Link="underling/addunderlinggrade.aspx"/>
            <PageLink Title="会员等级管理" Link="underling/editunderlinggrade.aspx"/>
        </Item>
        <Item Title="会员管理" Link="underling/manageunderlings.aspx">
            <PageLink Title="会员管理" Link="underling/manageunderlings.aspx"/>
            <PageLink Title="编辑会员管理" Link="underling/editunderling.aspx"/>
            <PageLink Title="添加会员管理" Link="underling/addunderling.aspx"/>
            <PageLink Title="查看会员信息" Link="underling/underlingdetails.aspx"/>

            <PageLink Title="编辑会员" Link="underling/editunderling.aspx"/>
            <PageLink Title="编辑会员" Link="underling/editunderlingtransactionpassword.aspx"/>
            <PageLink Title="编辑会员" Link="underling/editunderlingloginpassword.aspx"/>
        </Item>

        <Item Title="会员预付款" Link="underling/underlingaccountsummarylist.aspx">
            <PageLink Title="账户查询" Link="underling/underlingaccountsummarylist.aspx"/>
            <PageLink Title="账户明细" Link="underling/underlingbalancedetails.aspx"/>
            <PageLink Title="账户概要" Link="underling/underlingaccountsummary.aspx"/>
            <PageLink Title="账户加款" Link="underling/rechargeforunderling.aspx"/>
        </Item>
        <Item Title="会员提现申请" Link="underling/underlingbalancedrawrequest.aspx">
            <PageLink  Title="所有提现申请" Link="underling/underlingbalancedrawrequest.aspx"/>
        </Item>
        <Item Title="会员分析统计" Link="underling/underlingincreasestatistics.aspx">
            <PageLink  Title="会员排行" Link="underling/underlingranking.aspx"/>
            <PageLink  Title="会员分布与增长" Link="underling/underlingincreasestatistics.aspx"/>
            <PageLink  Title="会员分布与增长" Link="underling/underlingarealdistributionstatistics.aspx"/>
        </Item>
        <Item Title="会员推荐提成设置" Link="underling/mydeductsettings.aspx">
            <PageLink  Title="会员推荐提成设置" Link="underling/mydeductsettings.aspx"/>
        </Item>
    </Module>

    <Module Title="订单管理" Link="sales/managemyorder.aspx" Image="/Shopadmin/images/4.gif">
        <Item Title="订单管理" Link="sales/managemyorder.aspx">
            <PageLink  Title="订单管理" Link="sales/managemyorder.aspx"/>            
            <PageLink  Title="订单详情" Link="sales/myorderdetails.aspx"/>
            <PageLink  Title="修改订单" Link="sales/editmyorder.aspx"/>
            <PageLink  Title="备注" Link="sales/orderremark.aspx"/>
            <PageLink  Title="订单礼品" Link="sales/ordergifts.aspx"/>
            <PageLink  Title="发货" Link="sales/sendmygoods.aspx"/>
            <PageLink  Title="批量发货" Link="sales/batchsendmygoods.aspx"/>
            <PageLink  Title="订单退款" Link="sales/refundmyorder.aspx"/>
            <PageLink  Title="退款详情" Link="sales/refundorderdetails.aspx"/>
        </Item>
        <Item Title="退换货(款)" Link="sales/refundapply.aspx">
            <PageLink  Title="退款申请单" Link="sales/refundapply.aspx"/>
            <PageLink  Title="退货申请单" Link="sales/returnsapply.aspx"/>
            <PageLink  Title="换货申请单" Link="sales/replaceapply.aspx"/>
        </Item>
        <Item Title="单据管理" Link="sales/managemydebitnote.aspx">
            <PageLink  Title="收款单" Link="sales/managemydebitnote.aspx"/>
            <PageLink  Title="退款单" Link="sales/managemyrefundnote.aspx"/>
            <PageLink  Title="退货单" Link="sales/managemyreturnnote.aspx"/>
        </Item>
        <Item Title="支付方式" Link="sales/mypaymenttypes.aspx">
            <PageLink  Title="添加支付方式" Link="sales/addmypaymenttype.aspx"/>
            <PageLink  Title="支付方式管理" Link="sales/mypaymenttypes.aspx"/>
            <PageLink  Title="修改方式管理" Link="sales/editmypaymenttype.aspx"/>
        </Item>
        <Item Title="销售统计" Link="sales/salereport.aspx">
            <PageLink  Title="生意报告" Link="sales/salereport.aspx"/>
            <PageLink  Title="生意报告" Link="sales/daysaletotalstatistics.aspx"/>
            <PageLink  Title="订单统计" Link="sales/orderstatistics.aspx"/>
            <PageLink  Title="销售明细" Link="sales/saledetails.aspx"/>
            <PageLink  Title="销售指标分析" Link="sales/saletargets.aspx"/>
            <PageLink  Title="商品销售排行" Link="product/productsaleranking.aspx"/>
            <PageLink  Title="商品访问与购买次数" Link="product/productsalestatistics.aspx"/>
        </Item>

    </Module>

    <Module Title="促销活动" Link="promotion/myproductpromotions.aspx" Image="/Shopadmin/images/5.gif">
        <Item Title="礼品" Link="promotion/mygifts.aspx">
            <PageLink  Title="礼品下载查询" Link="promotion/mygifts.aspx"/>
            <PageLink Title-="礼品管理" Link="promotion/mygiftlist.aspx"></PageLink>
            <PageLink Title-="编辑礼品" Link="promotion/editmygifts.aspx"></PageLink>
        </Item>
        <!--<Item Title="促销活动" Link="promotion/myproductpromotions.aspx">
      <PageLink  Title="促销活动列表" Link="promotion/myproductpromotions.aspx"/>
      <PageLink  Title="满额打折" Link="promotion/addmydiscount.aspx"/>
      <PageLink  Title="满额免费用" Link="promotion/addmyfeefree.aspx"/>
      <PageLink  Title="买几送几" Link="promotion/addmybuytosend.aspx"/>
      <PageLink  Title="批发打折" Link="promotion/addmyquantitydiscount.aspx"/>
      <PageLink  Title="编辑批发打折商品" Link="promotion/mypromotionproducts.aspx"/>
    </Item>-->
        <Item Title="商品促销" Link="promotion/myproductpromotions.aspx">
            <PageLink Title="添加商品促销活动" Link="promotion/addmyproductpromotions.aspx"></PageLink>
            <PageLink Title="编辑商品促销活动" Link="promotion/editmyproductpromotions.aspx"></PageLink>
            <PageLink Title="添加促销商品" Link="promotion/setmypromotionproducts.aspx"></PageLink>
        </Item>
        <Item Title="订单促销" Link="promotion/myorderpromtions.aspx">
            <PageLink Title="添加订单促销活动" Link="promotion/addmyorderpromotions.aspx"></PageLink>
            <PageLink Title="编辑订单促销活动" Link="promotion/editemyorderpromotions.aspx"></PageLink>
            <PageLink Title="添加促销订单商品" Link="promotion/setmyorderpromotions.aspx"></PageLink>
        </Item>
        <Item Title="团购活动" Link="promotion/mygroupbuys.aspx">
            <PageLink  Title="团购活动" Link="promotion/mygroupbuys.aspx"/>
            <PageLink  Title="团购活动" Link="promotion/addmygroupbuy.aspx"/>
            <PageLink  Title="团购活动" Link="promotion/editmygroupbuy.aspx"/>
        </Item>
        <Item Title="限时抢购" Link="promotion/mycountdowns.aspx">
            <PageLink  Title="限时抢购" Link="promotion/mycountdowns.aspx"/>
            <PageLink  Title="添加限时抢购活动" Link="promotion/addmycountdown.aspx"/>
            <PageLink  Title="编辑限时抢购活动" Link="promotion/editmycountdown.aspx"/>
        </Item>

        <Item Title="捆绑促销"  Link="promotion/mybundlingproducts.aspx">
            <PageLink  Title="捆绑促销" Link="promotion/mybundlingproducts.aspx"/>
            <PageLink  Title="捆绑促销" Link="promotion/addmybundlingproduct.aspx"/>
            <PageLink  Title="捆绑促销" Link="promotion/editmybundlingproduct.aspx"/>
        </Item>

        <Item Title="优惠券管理" Link="promotion/mynewcoupons.aspx">
            <PageLink  Title="新创建的优惠券" Link="promotion/mynewcoupons.aspx"/>
            <PageLink  Title="过期的优惠券" Link="promotion/myoverduecoupons.aspx"/>
            <PageLink  Title="优惠券使用情况" Link="promotion/myusedcoupons.aspx"/>
            <PageLink  Title="创建优惠券" Link="promotion/addmycoupon.aspx"/>
            <PageLink  Title="发送优惠券" Link="promotion/sendmycouponemails.aspx"/>
            <PageLink  Title="发送优惠券" Link="promotion/sendmycoupontounderling.aspx"/>
            <PageLink  Title="编辑优惠券" Link="promotion/editmycoupon.aspx"/>

        </Item>

    </Module>


    <Module Title="客户反馈" Link="comment/myproductreviews.aspx" Image="/Shopadmin/images/6.gif">
        <Item Title="商品咨询" Link="comment/myproductconsultations.aspx">
            <PageLink Title="商品咨询" Link="comment/myproductconsultations.aspx"/>
            <PageLink Title="商品咨询" Link="comment/myproductconsultationsreplyed.aspx"/>
            <PageLink Title="商品咨询" Link="comment/replymyproductconsultations.aspx"/>
        </Item>
        <Item Title="商品评论" Link="comment/myproductreviews.aspx">
            <PageLink Title="商品评论" Link="comment/myproductreviews.aspx"/>
        </Item>
        <Item Title="站内信" Link="comment/myreceivedmessages.aspx">
            <PageLink  Title="写新消息" Link="comment/sendmymessage.aspx"/>
            <PageLink  Title="发送" Link="comment/sendmymessageselectuser.aspx"/>
            <PageLink  Title="收件箱" Link="comment/myreceivedmessages.aspx"/>
            <PageLink  Title="发件箱" Link="comment/mysendedmessages.aspx"/>
            <PageLink  Title="回复信息" Link="comment/replymyreceivedmessages.aspx"/>
        </Item>
        <Item Title="客户留言" Link="comment/managemyleavecomments.aspx">
            <PageLink Title="客户留言" Link="comment/managemyleavecomments.aspx"/>
            <PageLink Title="客户留言" Link="comment/replymyleavecomments.aspx"/>
            <PageLink Title="客户留言" Link="comment/replyedleavecommentssuccsed.aspx"/>
        </Item>
    </Module>
</Menu>
