<?xml version="1.0" encoding="utf-8"?>
<Menu>
    <Module Title="我的商城" Link="store/siterequest.aspx" Image="/Shopadmin/images/8.gif">
        <Item Title="申请开通站点" Link="store/siterequest.aspx">
            <PageLink  Title="申请开通站点" Link="store/siterequest.aspx"/>
            <PageLink  Title="申请开通站点" Link="store/showsiterequeststatus.aspx"/>
        </Item>
    </Module>
    <Module Title="我的帐户" Link="store/distributorprofile.aspx" Image="/Shopadmin/images/9.gif">

        <Item Title="个人资料" Link="store/distributorprofile.aspx">
            <PageLink  Title="个人资料" Link="store/distributorprofile.aspx"/>
            <PageLink  Title="登录密码" Link="store/editloginpassword.aspx"/>
            <PageLink  Title="交易密码" Link="store/edittradepassword.aspx"/>
            <PageLink  Title="密码保护" Link="store/editpasswordprotection.aspx"/>
        </Item>
        <Item Title="站内信" Link="comment/myreceivedmessagestoadmin.aspx">
            <PageLink Title="站内信" Link="comment/mysendedmessagestoadmin.aspx"/>
            <PageLink Title="站内信" Link="comment/sendmymessagetoadmin.aspx" />
            <PageLink Title="站内信" Link="comment/myreceivedmessagestoadmin.aspx" />
            <PageLink Title="站内信" Link="comment/replaymyreceivedmessagetoadmin.aspx" />
        </Item>

        <Item  Title="预付款充值" Link="store/recharge.aspx">
            <PageLink  Title="预付款充值" Link="store/recharge.aspx"/>
            <PageLink  Title="预付款充值" Link="store/rechargeconfirm.aspx"/>
        </Item>
        <Item  Title="申请提现" Link="store/balancedraw.aspx">
            <PageLink  Title="申请提现" Link="store/balancedraw.aspx"/>
            <PageLink  Title="申请提现" Link="store/confirmbalancedrawrequest.aspx"/>
            <PageLink  Title="申请提现" Link="store/drawrequestpromption.aspx"/>
        </Item>
        <Item Title="账户概要" Link="store/myaccountsummary.aspx">
            <PageLink  Title="账户概要" Link="store/myaccountsummary.aspx"/>
        </Item>
        <Item  Title="账户明细" Link="store/mybalancedetails.aspx">
            <PageLink  Title="账户明细" Link="store/mybalancedetails.aspx"/>
        </Item>
    </Module>

    <Module Title="采购单" Link="purchaseOrder/managemymanualpurchaseorder.aspx" Image="/Shopadmin/images/c03.gif">

        <Item Title="我提交的采购单" Link="purchaseorder/managemymanualpurchaseorder.aspx">
            <PageLink Title="采购单管理" Link="purchaseorder/managemymanualpurchaseorder.aspx"/>
            <PageLink  Title="等待付款采购单" Link="purchaseorder/unpaymentmanualpurchaseorderdetails.aspx"/>
            <PageLink  Title="等待发货采购单" Link="purchaseorder/unshippingmanualpurchaseorderdetails.aspx"/>
            <PageLink  Title="已发货采购单" Link="purchaseorder/deliveredmanualpurchaseorderdetails.aspx"/>
            <PageLink  Title="已完成采购单" Link="purchaseorder/finishedmanualpurchaseorderdetails.aspx"/>
            <PageLink  Title="已关闭采购单" Link="purchaseorder/closedmanualpurchaseorderdetails.aspx"/>
            <PageLink  Title="采购单付款" Link="purchaseorder/pay.aspx"/>
            <PageLink  Title="发货" Link="purchaseorder/sendmygoods.aspx"/>
            <PageLink  Title="采购单礼品" Link="purchaseorder/purchaseordergifts.aspx"/>
            <PageLink  Title="退款详情" Link="purchaseorder/refundpurchasedetails.aspx"/>
            <PageLink  Title="修改采购单商品" Link="purchaseorder/changepurchaseorderitems.aspx"/>
            <PageLink  Title="等待退款采购单" Link="purchaseorder/unrefundmanualpurchaseorderdetails.aspx"/>
            <PageLink  Title="等待退货采购单" Link="purchaseorder/unreturnmanualpurchaseorderdetails.aspx"/>
            <PageLink  Title="已退款采购单" Link="purchaseorder/refundedmanualpurchaseorderdetails.aspx"/>
            <PageLink  Title="已退货采购单" Link="purchaseorder/returnedmanualpurchaseorderdetails.aspx"/>
        </Item>

        <Item Title="提交采购单" Link="purchaseorder/purchaseproduct.aspx">
            <PageLink Title="提交采购单" Link="purchaseorder/purchaseproduct.aspx"/>
            <PageLink Title="提交采购单" Link="purchaseorder/selectedpurchaseproducts.aspx"/>
            <PageLink Title="提交采购单" Link="purchaseorder/submitpurchaseorder.aspx"/>
        </Item>
        <Item Title="设置发货信息" Link="sales/setmyshipper.aspx">
            <PageLink  Title="发货信息" Link="sales/setmyshipper.aspx"/>
        </Item>
    </Module>

    <Module Title="授权产品线" Link="product/authorizeproductlines.aspx" Image="/Shopadmin/images/2.gif">
        <Item Title="授权产品目录" Link="product/authorizeproducts_nosite.aspx">
            <PageLink  Title="授权产品管理" Link="product/authorizeproducts_nosite.aspx"/>
        </Item>
        <Item Title="授权产品线" Link="product/authorizeproductlines.aspx">
            <PageLink  Title="授权产品线" Link="product/authorizeproductlines.aspx"/>
        </Item>
        <Item Title="导出商品数据包" Link="product/exporttotb.aspx">
            <PageLink Title="制作TB数据包" Link="product/exporttotb.aspx"/>
            <PageLink Title="制作PP数据包" Link="product/exporttopp.aspx"/>
        </Item>
    </Module>
</Menu>