<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SiteUrl>localhost</SiteUrl>
  <AssistantIv>
  </AssistantIv>
  <AssistantKey>
  </AssistantKey>
  <DecimalLength>2</DecimalLength>
  <DefaultProductImage>/utility/pics/none.gif</DefaultProductImage>
  <DefaultProductThumbnail1>/utility/pics/none.gif</DefaultProductThumbnail1>
  <DefaultProductThumbnail2>/utility/pics/none.gif</DefaultProductThumbnail2>
  <DefaultProductThumbnail3>/utility/pics/none.gif</DefaultProductThumbnail3>
  <DefaultProductThumbnail4>/utility/pics/none.gif</DefaultProductThumbnail4>
  <DefaultProductThumbnail5>/utility/pics/none.gif</DefaultProductThumbnail5>
  <DefaultProductThumbnail6>/utility/pics/none.gif</DefaultProductThumbnail6>
  <DefaultProductThumbnail7>/utility/pics/none.gif</DefaultProductThumbnail7>
  <DefaultProductThumbnail8>/utility/pics/none.gif</DefaultProductThumbnail8>
  <CheckCode>
  </CheckCode>
  <IsOpenSiteSale>true</IsOpenSiteSale>
  <Disabled>false</Disabled>
  <ReferralDeduct>0</ReferralDeduct>
  <Footer>
  </Footer>
  <RegisterAgreement>
  </RegisterAgreement>
  <HtmlOnlineServiceCode>
  </HtmlOnlineServiceCode>
  <LogoUrl>/utility/pics/logo.jpg</LogoUrl>
  <OrderShowDays>7</OrderShowDays>
  <CloseOrderDays>3</CloseOrderDays>
  <ClosePurchaseOrderDays>5</ClosePurchaseOrderDays>
  <FinishOrderDays>7</FinishOrderDays>
  <FinishPurchaseOrderDays>10</FinishPurchaseOrderDays>
  <TaxRate>0</TaxRate>
  <PointsRate>1.00</PointsRate>
  <SearchMetaDescription>
  </SearchMetaDescription>
  <SearchMetaKeywords>
  </SearchMetaKeywords>
  <SiteDescription>880820</SiteDescription>
  <SiteName>880820</SiteName>
  <Theme>default</Theme>
  <YourPriceName>
  </YourPriceName>
  <DistributorRequestInstruction>
  </DistributorRequestInstruction>
  <DistributorRequestProtocols>
  </DistributorRequestProtocols>
  <EmailSender>
  </EmailSender>
  <EmailSettings>
  </EmailSettings>
  <SMSSender>
  </SMSSender>
  <SMSSettings>
  </SMSSettings>
  <SiteMapNum>
  </SiteMapNum>
  <TaobaoShippingType>0</TaobaoShippingType>
  <SiteMapTime>
  </SiteMapTime>
  <EnabledCnzz>false</EnabledCnzz>
  <CnzzUsername>
  </CnzzUsername>
  <CnzzPassword>
  </CnzzPassword>
</Settings>